{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/skills.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <link rel="stylesheet" href="{% static 'css/education.css' %}">
    <link rel="stylesheet" href="{% static 'css/experience.css' %}">

    <title>Portfolio</title>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo"><a href="#">Habib</a></div>
            <ul class="links">
                <li><a href="#home">Home</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#education">Education</a></li>
                <li><a href="#experience">Experience</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>

        <div class="dropdown_menu">
            <li><a href="#home">Home</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#education">Education</a></li>
                <li><a href="#experience">Experience</a></li>
                <li><a href="#contact">Contact</a></li>
        </div>
    </header>

    <section id="home">
        <div class="content">
            <div class="text">
                <h4>Hello,</h4>
                <h1 class="nama">Saya Mhd. Abdul Habib Ali</h1>
                <p>Lulusan Manajemen Universitas Andalas yang memiliki pengalaman di bidang keuangan dan manajemen.</p>
            </div>
        </div>
        <div class="wrapper">
            <div class="card">
                <div class="front-page">
                    <div class="card-info">
                        <h2 class="card-title"></h2>
                        <p class="card-subtitle"></p>
                    </div>
                </div>
                <div class="back-page">
                    <div class="card-content">
                        <h3>Mhd. Abdul Habib ali</h3>
                        <p class="card-description">Lulusan Manajemen Universitas Andalas</p>
                        <button class="card-button">Explore more</button>
                    </div>
                </div>
            <div>
        <div>
    </section>

    <section id="skills" class="skills">
        <h1>Skills</h1>
        <div class="kotak">
            <div class="kotak1">
                <div class="dropdown">Soft Skills
                    <span class="left-icon"></span>
                    <span class="right-icon"></span>
                    <div class="items">
                        <a href="#" style="--i:1;"><span></span>Comunication</a>
                        <a href="#" style="--i:2;"><span></span>Teamwork</a>
                        <a href="#" style="--i:3;"><span></span>Problem Solving</a>
                        <a href="#" style="--i:4;"><span></span>Time Management</a>
                    </div>
                </div>
            </div>

            <div class="kotak2">
                <div class="dropdown">Hard Skills
                    <span class="left-icon"></span>
                    <span class="right-icon"></span>
                    <div class="items">
                        <a href="#" style="--i:1;"><span></span>Ms. Word</a>
                        <a href="#" style="--i:2;"><span></span>Ms. Excel</a>
                        <a href="#" style="--i:3;"><span></span>Ms. PowerPoint</a>
                        <a href="#" style="--i:4;"><span></span>HTML & CSS</a>
                        <a href="#" style="--i:5;"><span></span>JavaScript</a>
                        <a href="#" style="--i:6;"><span></span>Python</a>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section id="education" class="education">
        <h1>Education</h1>
        <div class="education-container">
            <div class="box">
                <div class="box1">
                    <h2 class="pendidikan1">Universitas Andalas</h2>
                    <p class="short-desc">Lulusan Manajemen Universitas Andalas</p>
                    <p class="full-desc">Saya menyelesaikan studi di Universitas Andalas dengan jurusan Manajemen. 
                    Selama kuliah, saya banyak belajar tentang strategi bisnis, keuangan, serta pengembangan organisasi.</p>
                </div>
            </div>
            <div class="box">
                <div class="box2">
                    <h2 class="pendidikan2">SMA Negeri 1 Tilatang Kamang</h2>
                    <p class="short-desc">Lulusan SMA Negeri 1 Tilatang Kamang</p>
                    <p class="full-desc">Saya menyelesaikan pendidikan menengah atas di SMA Negeri 1 Tilatang Kamang 
                    dengan fokus pada ilmu sosial. Saya aktif dalam berbagai organisasi dan kegiatan ekstrakurikuler.</p>
                </div>
            </div>
        </div>
    </section>
       
    
    <section id="experience" class="experience">
        <h1 class="section-title">Experience</h1>
        <div class="experience-container">
            <!-- Item 1 -->
            <div class="experience-card" data-details="financial-analyst-details">
                <div class="card-content">
                    <i class="fas fa-chart-line"></i>
                    <h3>Dropshiper</h3>
                    <p>DehaiStore on Lazada</p>
                    <div class="detail-popup" id="financial-analyst-details">
                        <h4>Tanggung Jawab:</h4>
                        <ul>
                            <li>Memasarkan Produk yang dijual di Lazada ke media sosial (FACEBOOK).</li>
                            <li>Memastikan produk yang dibeli sampai ke pelanggan.</li>
                            <li>Dengan pembelian produk dari konsumen, review dari Dehai Store dapat meningkat.</li>
                        </ul>
                        <h4>Durasi :</h4>
                        <p>2019 - 2020</p>
                    </div>
                </div>
            </div>
            
            <!-- Item 2 -->
            <div class="experience-card" data-details="marketing-intern-details">
                <div class="card-content">
                    <i class="fas fa-bullhorn"></i>
                    <h3>Crew Store</h3>
                    <p>AA MART PLUS</p>
                    <div class="detail-popup" id="marketing-intern-details">
                        <h4>Tanggung Jawab:</h4>
                        <ul>
                            <li>Melayani pelanggan sebagai kasir dan menangani transaksi penjualan.</li>
                            <li>Melakukan input data barang dan pengecekan stok secara berkala.</li>
                            <li>Memeriksa kondisi produk, memastikan tidak ada barang yang kedaluwarsa sebelum dipajang.</li>
                            <li>Melakukan pemesanan (order) barang dan menyusun produk yang baru masuk.</li>
                            <li>Menyusun dan merapikan barang di rak display serta membersihkan rak secara rutin bersama rekan kerja.</li>
                            <li>Melakukan pembukuan harian, termasuk menghitung dan mencatat pendapatan toko.</li>
                        </ul>
                        <h4>Durasi :</h4>
                        <p>Mar 2025 - Sekarang</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
      

    <section id="contact" class="contact">
        <h1>Contact Me!</h1>
        <form id="contact-form" action="#">
            <div class="input-box">
                <div class="input-field field">
                    <input type="text" placeholder="Full Name" id="name" class="item" autocomplete="off">
                    <div class="error-txt">Full Name Can't be blank</div>
                </div>
                <div class="input-field field">
                    <input type="text" placeholder="Email Address" id="email" class="item" autocomplete="off">
                    <div class="error-txt email">Email Address Can't be blank</div>
                </div>
            </div>

            <div class="input-box">
                <div class="input-field field">
                    <input type="text" placeholder="Phone Number/WA" id="phone" class="item" autocomplete="off">
                    <div class="error-txt">Phone Number/WA Can't be blank</div>
                </div>
                <div class="input-field field">
                    <input type="text" placeholder="Subject" id="subject" class="item" autocomplete="off">
                    <div class="error-txt">Subject Can't be blank</div>
                </div>
            </div>
            <div class="textarea-field field">
                <textarea name="" id="message" class="item" cols="30" rows="10" placeholder="Your Message" autocomplete="off"></textarea>
                <div class="error-txt email">Email Address Can't be blank</div>
            </div>

            <button type="submit">Send Message</button>
        </form>
    </section>

    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'js/nav.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/skills.js' %}"></script>
    <script src="{% static 'js/education.js' %}"></script>
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/experience.js' %}"></script>
</body>
</html>
